<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to "Back to articles", articles_path %>

<%= link_to 'Edit Article', edit_article_path(@article), class: "card-link" %>

<%= link_to "Delete",
article_path(@article),
method: :delete,
data: { confirm: "Are you sure?" } %>
